body {
  background-color: #f0f2a7;
}
main {
  text-align: center;
}
.credit {
  margin-top: 5%;
}
.setTime {
  display: flex;
  margin: 2% 0 0 0;
}
.controlBreak {
  flex-grow: 1;
  margin: 0 0 0 20%;
}
.controlSession {
  flex-grow: 1;
  margin: 0 20% 0 0;
}
.Container {
  margin: 5% 0;
}

h1.ui.header {
  font-size: 4rem;
}
.timer {
  background-color: #f26444;
  border-top: 10px solid lightsalmon;
  border-right: 10px solid lightsalmon;
  border-bottom: 10px solid lightsalmon;
  border-left: 10px solid lightsalmon;
  margin: 3% 0;
  border-radius: 5%;
  width: 20%;
  margin: 16px auto;
  padding: 42px 0px;
}
#time-left {
  font-size: 4rem;
}
.controls {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 2% 0;
}
.playButton {
  align-self: center;
  margin-right: 1%;
}
.resetButton {
  align-self: center;
  margin-left: 1%;
}
#playPause {
  margin: auto;
}
